<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/thread.css')}}">
		<link rel="stylesheet" href="{{asset('css/userProfile.css')}}">
        <title>Post</title>
		{# targetPost #}
    </head>
	{% include "header.html.twig" %}
    <body>
		<div class="post">
			{# {{ dump() }} #}
			<h3 class="postUser">{{ targetPost.PosterProfile.userName }}</h3>

			<img src="{{ targetPost.contentRoute }}" alt="post image" class="postImg">

			<div class="postStats">
				<span class="likes">{{ targetPost.likes }} likes</span>
				<span class="dislikes">{{ targetPost.dislikes }} dislikes</span>
				<span class="comments">{{ targetPost.commentAmount }} comments</span>
			</div>
		</div>
    </body>
</html>
