<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/thread.css')}}">
		<link rel="stylesheet" href="{{asset('css/userProfile.css')}}">
        <title>Post</title>
		{# TODO: poner nombre #}
		{# targetPost #}
    </head>
	{% include "header.html.twig" %}
    <body>
		<div class="post">
			{# {{ dump() }} #}
			<a href="{{ path('load_profile', { 'userName': targetPost.PosterProfile.userName })}}" class="postUser">
				<img src="{{asset('userData/'~targetPost.PosterProfile.idUser~'/ProfilePicture.png')}}" alt="ProfilePicture">
				<span class="postUser">{{ targetPost.PosterProfile.userName }}</span>
			</a>

			<img src="{{ targetPost.contentRoute }}" alt="post image" class="postImg">

			<div class="postStats">
				<span class="likes">{{ targetPost.likes }} likes</span>
				<span class="dislikes">{{ targetPost.dislikes }} dislikes</span>
				<span class="comments">{{ targetPost.commentAmount }} comments</span>
			</div>
			<a href="{{ path('load_comments', { 'idPost': targetPost.idPost })}}" class="linkButton showCommentsLink"> Ver comentarios </a>
		</div>
    </body>
</html>
