<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/thread.css')}}">
		<link rel="stylesheet" href="{{asset('css/userProfile.css')}}">
        <title>Editar Perfil</title>
		{# targetProfile #}
    </head>
	{% include "header.html.twig" %}
    <body>
		<div id="profileHeader">
			{# manejar errores #}
			{% if error != "" %}
				<p>{{error}}</p>
			{% endif %}
			<h2>Editar perfil</h2>
			<img src="{{asset('userData/'~targetProfile.idUser~'/ProfilePicture.png')}}" alt="ProfilePicture">
			<!-- idUser -->
			<form action="{{ path('edit_profile') }}" method="post" enctype="multipart/form-data">
				<label for="profilePicture">Cambiar foto de perfil</label>
				<input type="file" name="profilePicture" id="profilePicture">
				<br>
				<label for="bio">Cambiar biografía</label>
				<textarea name="bio" id="bio" cols="50" rows="2">{{targetProfile.bio}}</textarea>
				<br>
				<label for="username">Cambiar nombre de usuario</label>
				<input type="text" name="username" id="username" value="{{targetProfile.userName}}">
				<br>
				<input type="submit" value="Guardar cambios">
			</form>
			<a href="{{ path('redirect_profile') }}" class="linkButton">Volver</a>
		</div>
		<div id="delAcc">
			<h2>Eliminar cuenta</h2>
			<p>Si eliminas tu cuenta, perderás todo tu progreso y no podrás recuperarlo.</p>
			<a href="{{ path('delete_profile') }}" class="linkButton">Eliminar cuenta</a>
		</div>
    </body>
</html>
