<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/thread.css')}}">
		<link rel="stylesheet" href="{{asset('css/userProfile.css')}}">
        <title>@{{targetProfile.userName}}</title>

		<script src="{{asset('js/loadPosts.js')}}"></script>
		{# targetProfile #}
    </head>
	{% include "header.html.twig" %}
    <body>
		<div id="profileHeader">
			<img src="{{asset('userData/'~targetProfile.idUser~'/ProfilePicture.png')}}" alt="ProfilePicture">
			{# idUser #}
			<h1>{{targetProfile.userName}}</h1>
			<p>{{targetProfile.bio}}</p>
			<p>Seguidores: <span>{{targetProfile.followers}}</span> Siguiendo: <span>{{targetProfile.following}}</span></p>

			{# si es tu perfil, te sale el boton de editar tu perfil #}
			{% if targetProfile.idUser == app.user.idUser %}
				<a href="{{ path('edit_profile') }}" class="linkButton">Editar perfil</a>
			{% endif %}
		</div>
		
		<input type="hidden" id="ajaxRoute" value="{{ path('load_post_user_ajax', {userId: targetProfile.idUser}) }}">
		<div id="loadedPosts"></div>
    </body>
</html>
