<header>
	<link rel="stylesheet" href="{{asset('css/header.css')}}">

	<h1>Cabecera</h1>
	
	<ul>
		<li><a href="{{ path('feed') }}">Home</a></li>
		<li><a href="{{ path('redirect_profile') }}">Profile</a></li>
		<li><a href="{{ path('new_post') }}">Create a post</a></li>
		{# mostrar la opcion de admin si tiene ese rol #}
		{% if is_granted('ROLE_ADMIN') %}
			<li><a href="{{ path('admin_dashboard') }}">Admin</a></li>
		{% endif %}
		<li><a href="{{ path('ctrl_logout') }}">Log Out</a></li>
	</ul>

</header>